/* src/components/Button/Button.css */
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: rgb(255, 255, 255);
  background-color: #0f4c81; /* Bleu Pantone exemple */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  margin: 5px;
}

.custom-button:hover {
  background-color: #0c3b66;
}

.custom-button:active {
  transform: translateY(1px);
}

.custom-button.secondary {
  background-color: #6c757d;
}

.custom-button.secondary:hover {
  background-color: #5a6268;
}
