/* src/components/Board/Board.css */
.Board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 12px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  background-color: #554945;
  padding: 20px;
  width: 100%;
  max-width: 500px; /* Ajuste selon la taille max souhaitée */
  box-sizing: border-box;
}
