/* src/App.css */
.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.game-info {
  margin-top: 20px;
}

.game-info p {
  font-size: 1.2em;
  color: #555;
}

.game-info button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #0f4c81; /* Classic Blue de Pantone comme exemple */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-info button:hover {
  background-color: #0c3b66; /* Une teinte plus foncée */
}
.game-info button:active {
  transform: translateY(1px); /* Léger effet d'enfoncement au clic */
}

.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 450px; /* ajuste selon le nombre de cartes */
}
