/* src/App.css */
@import url("https://use.typekit.net/ign7kxf.css");

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  min-height: 100vh;
  margin-top: 0;
  width: 100vw;
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-family: helvetica-neue-lt-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
}

.game-info {
  margin-top: 20px;
}

.game-info p {
  font-size: 1.2em;
  color: #555;
}

.game-info button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #0f4c81; /* Classic Blue de Pantone comme exemple */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-info button:hover {
  background-color: #0c3b66; /* Une teinte plus foncée */
}
.game-info button:active {
  transform: translateY(1px); /* Léger effet d'enfoncement au clic */
}

.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 450px; /* ajuste selon le nombre de cartes */
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
}
/* Ajout d'un fond de couleur */
